.footer {
  width: 100%;
  position: relative;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #FFFFFF; /* White background */
}

.footer .secContent {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer .quote-container {
  width: 45%; /* Adjust the width as needed */
}

.footer .quote {
  color: #59D5E0; /* Sea-blue color for the quote */
  font-family: 'Your Desired Font', cursive; /* Change 'Your Desired Font' to the font you want to use */
}

.footer .quote span {
  white-space: nowrap; /* Ensures the quote stays in one line */
}

.footer.p1
{
  color: #12372A;
}

.footer .contact-info {
  width: 45%; /* Adjust the width as needed */
}

.footer .contact-info p {
  margin-bottom: 1rem; /* Adjust spacing between contact info */
}

.footer .contact-info a {
  color: #1E90FF; /* Sea-blue color for links */
}

.footer .icon {
  margin-right: 0.5rem;
}
